# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [18]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [35]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [36]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'OscarCastro'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.117.216/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [37]:
if not database_exists(engine.url):
  create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL",engine)

In [109]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1.0,0.0,0.0,0.0,None,1.0,SpaceX,1.0,0.0,B0003,-80.577366,28.561857,0.0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1.0,0.0,0.0,0.0,None,1.0,NASA(COTS),1.0,0.0,B0005,-80.577366,28.561857,0.0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1.0,0.0,0.0,0.0,None,1.0,NASA (CRS),1.0,0.0,B0007,-80.577366,28.561857,0.0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1.0,0.0,0.0,0.0,None,1.0,MDA,1.0,0.0,B1003,-120.610829,34.632093,0.0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1.0,0.0,0.0,0.0,None,1.0,SES,1.0,0.0,B1004,-80.577366,28.561857,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2.0,1.0,1.0,1.0,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1.0,12.0,B1060,-80.603956,28.608058,1.0
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3.0,1.0,1.0,1.0,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1.0,13.0,B1058,-80.603956,28.608058,1.0
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6.0,1.0,1.0,1.0,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1.0,12.0,B1051,-80.603956,28.608058,1.0
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3.0,1.0,1.0,1.0,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1.0,12.0,B1060,-80.577366,28.561857,1.0
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1.0,1.0,0.0,1.0,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1.0,8.0,B1062,-80.577366,28.561857,1.0

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [88]:
#Rellena la variable query con tu consulta
query = "SELECT Launchsite FROM SPACEXTBL "
df  = pd.read_sql(query, con = engine )
df

      Launchsite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3    VAFB SLC 4E
4   CCSFS SLC 40
..           ...
85    KSC LC 39A
86    KSC LC 39A
87    KSC LC 39A
88  CCSFS SLC 40
89  CCSFS SLC 40

[90 rows x 1 columns]

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [102]:
#Rellena la variable query con tu consulta
query =("""SELECT * FROM SPACEXTBL WHERE Launchsite LIKE "%CCS" LIMIT 5 """)

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """SELECT SUM(PayloadMass) FROM SPACEXTBL WHERE Customers= NASA(CRS)"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """SELECT AVG(PayloadMass) Serial FROM SPACEXTBL WHERE Serial= B1"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [108]:
query = """ SELECT MIN(Date) FROM SPACEXTBL WHERE =LandingOutcome "TRUE RTLS" """
df  = pd.read_sql(query, con = engine )
df

    MIN(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [132]:
query = """ SELECT LandingOutcome,PayloadMass FROM SPACEXTBL WHERE PayloadMass = "TRUE ASDS" """
df  = pd.read_sql(query, con = engine )
df

Empty DataFrame
Columns: [LandingOutcome, PayloadMass]
Index: []

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """ SELECT LandingOutcome FROM SPACEXTBL WHERE LandingOutcome = "True ASDS"  """
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [150]:
query = """ SELECT Serial FROM SPACEXTBL WHERE PayloadMass=(SELECT MAX(PayloadMass) FROM SPACEXTBL) """
df  = pd.read_sql(query, con = engine )
df

   Serial
0   B1048
1   B1049
2   B1051
3   B1056
4   B1048
5   B1051
6   B1049
7   B1059
8   B1049
9   B1060
10  B1058
11  B1051
12  B1060

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """ SELECT Serial,LaunchSite,Class  FROM SPACEXTBL WHERE Year(Date)= 2015 and LandingOutcome like "%False"or LandingOutcome "%None" """
df  = pd.read_sql(query, con = engine ) 
df

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """ SELECT Serial FROM SPACEXTBL WHERE PayloadMass=(SELECT MAX(PayloadMass) FROM SPACEXTBL) """
df  = pd.read_sql(query, con = engine )
df